<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav th:fragment="admin-sidebar" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="z-index: 2;">
    <div style="position: fixed;">
        <div class="container-fluid d-flex flex-column p-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link active" th:href="@{/admin}"><i class="fas fa-home"></i><span>Trang chủ quản trị</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/order-management}"><i class="fas fa-shopping-cart"></i><span>Quản lý đơn hàng</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-shopping-bag"></i><span>Quản lý các kiện hàng</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-user"></i><span>Quản lý tài khoản</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-gift"></i><span>Quản lý khuyến mãi</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-list"></i><span>Quản lý sản phẩm</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-table"></i><span>Phân loại sản phẩm</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-comment-dots"></i><span>Quản lý bình luận</span></a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;"><i class="fas fa-flag"></i><span>Quản lý yêu cầu</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </div>
</nav>
</body>
</html>